{% extends "base.html" %}

{%block main_content %}
<h2>Update Movie</h2>

<form method="POST" action="{{url_for('select_movie')}}" id="movie_form">
    <label >
        Movies with release dates or directors:
        <select name="movie_selected" id="">
        <option value="">Choose One</option>
        {% for movie in movies%}
        <option value="{{movie.tt}}">{{movie.title}}</option>
        {% endfor %}
        </select>
    </label>
    <input type="submit" name="select_type" value="Choose" >
</form>
{% endblock %}